<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--# if expr="$HTTP_COOKIE=/critical\-css\=1/" -->
            {{ craft.twigpack.includeCssModule("styles.css", false) }}
        <!--# else -->
            <script>
                Cookie.set("critical-css", '1', { expires: "7D", secure: true });
            </script>
            {{ craft.twigpack.includeCriticalCssTags() }}

            {{ craft.twigpack.includeCssModule("styles.css", true) }}
        <!--# endif -->
        
    </head>
    <body>
        {% block content %}
            No Block Content Defined
        {% endblock %}

        {{ craft.twigpack.includeSafariNomoduleFix() }}
        {{ craft.twigpack.includeJsModule("app.js", true) }}
        
    </body>
</html>