{% set image = image ?? null %}
{% set width = null %}
{% set height = null %}
{% set sizes = sizes ?? null %}
{% set alt = alt ?? (image ? image.title : null) %}
{% set mode = mode ?? 'crop' %}
{% set position = position ?? 'center-center' %}
{% set class = class ?? '' %}
{% set id = id ?? '' %}

{% if image %}
  {# Handle SVG assets #}
  {% if image.extension == 'svg' %}
    <span class="svg-wrap inline-block {{ class|length ? class : 'w-full h-auto' }}">{{ svg(image) }}</span>
  {# General Image Handling #}
  {% else %}
    {% set class = class ~ ' lazyload' %}

    {% set htmlAttributes = {
      id: id,
      alt: alt,
      class: class,
    } %}

    {% if sizes %}
      {% set common = {
        mode: mode,
        position: position,
      } %}
      {% set transforms = {} %}
      {% for view, size in sizes %}
        {% set breakpoint = '(max-width: ' ~ view ~ 'px)' %}

        {% if 'x' in size %}
          {% set parts = size|split('x') %}
          {% set width = parts[0] %}
          {% set height = parts[1] %}

          {% set sizeObj = {
            width: width,
            height: height,
          } %}
        {% else %}
          {% set width = size %}
          {% set sizeObj = {
            width: width,
          } %}
        {% endif %}
        
        {% if view < 450 %}
          {% set transforms = { '(min-width:1px)': sizeObj }|merge(transforms) %}
        {% else %}
          {% set transforms = { '(min-width:500px)': sizeObj }|merge(transforms) %}
        {% endif %}

      {% endfor %}

      {% set htmlAttributes = { width: width, height: height }|merge(htmlAttributes) %}

      {# Load Image #}
      {{ craft.images.pictureMedia(image, transforms, common, htmlAttributes) }}

    {% else %}
      {% if width or height %}
        {% set transforms = {
          width: width,
          height: height,
          mode: mode,
        } %}

        {% set htmlAttributes = { width: width, height: height }|merge(htmlAttributes) %}

        {{ craft.images.picture(image, transforms, htmlAttributes) }}
      {% endif %}
    {% endif %}

    

  {% endif %}

{% else %}
  {% set width = 200 %}
  {% set height = 200 %}
  {{ craft.images.placeholder({
		width: width,
		height: height,
	}) }}
{% endif %}